{% include "header.html" -%}

{% block content -%}
<div class="container" style="height:535px; width:475px;text-align:center;">

      <div class="starter-template" style="text-align:center;">
        <h1>Aw, Snap. :-/</h1>
        <p class="lead">Sorry, but we can't find the page... <br /> Here's Pikachu instead!</p>
        <img src="/static/images/pikachu.jpg" alt="pikachu" height="350" width="365"/>
        <!-- http://dreamatico.com/data_images/kitten/kitten-8.jpg -->
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
  </body>
</html>
{%- endblock content %}

{% block footer -%}
{% include "footer.html" -%}
{% endblock footer -%}