{% include "header.html" -%}

<!-- Begin our Content -->
{% block content -%}
<form method="get" action="/account/<id>" style="padding:10px;">
  <fieldset>
    <legend>Get All accounts</legend>
    <label>Enter account ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="get" action="/account/<id>" style="padding:10px;">
  <fieldset>
    <legend>Get account By ID</legend>
    <label>Enter account ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="post" action="/account/<id>" style="padding:10px;">
  <fieldset>
    <legend>Create a account</legend>
    <label>Enter account ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="put" action="/account/<id>" style="padding:10px;">
  <fieldset>
    <legend>Update an Existing account</legend>
    <label>Enter account ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="delete" action="/account/<id>" style="padding:10px;">
  <fieldset>
    <legend>Delete a account</legend>
    <label>Enter account ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

{%- endblock content %}

{% block footer -%}
{% include "footer.html" -%}
{% endblock footer -%}