{% include "header.html" -%}

<!-- Begin our Content -->
{% block content -%}
<audio id="victory" src="../static/audio/opening.mp3" loop="lopp"></audio>
<form method="GET" action="/bill" style="padding:10px;">
  <fieldset>
    <legend>Get All Bills for Account</legend>
    <label>Account ID: &nbsp;</label>
    <input id="account_id" type="text" placeholder="Account ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="GET" action="/bill" style="padding:10px;">
  <fieldset>
    <legend>Get Bill By Bill ID</legend>
    <label>Bill ID: &nbsp;</label>
    <input id="bill_id" type="text" placeholder="Bill ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="GET" action="/bill" style="padding:10px;">
  <fieldset>
    <legend>Get Bills By Customer ID</legend>
    <label>Customer ID: &nbsp;</label>
    <input id="customer_id" type="text" placeholder="Customer ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="POST" action="/bill" style="padding:10px;">
  <fieldset>
    <legend>Create a Bill</legend>
    <label>Bill ID: &nbsp;</label>
    	<input id="id" type="text" placeholder="Account ID">
    <label>Payee: &nbsp;</label>
    	<input id="payee" type="text" placeholder="Payee">
    <label>Nickname: &nbsp;</label>
    	<input id="nickname" type="text" placeholder="Nickname">
    <label>Payment Date: &nbsp;</label>
    	<input id="Payment Date" type="text" placeholder="Payment Date">
    <div class="checkbox">
    	<label><input id="reoccuring" type="checkbox">Recurring Date?</label>
	</div>
	<label>Payment Amount: &nbsp;</label>
    	<input id="amount" type="text" placeholder="$">

    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="PUT" action="/bill" style="padding:10px;">
  <fieldset>
    <legend>Update an Existing Bill</legend>
     <label>Bill ID: &nbsp;</label>
    	<input id="bill_id" type="text" placeholder="Bill ID">
    <label>Payee: &nbsp;</label>
    	<input id="payee" type="text" placeholder="Payee">
    <label>Nickname: &nbsp;</label>
    	<input id="nickname" type="text" placeholder="Nickname">
    <label>Payment Date: &nbsp;</label>
    	<input id="Payment Date" type="text" placeholder="Payment Date">
    <div class="checkbox">
    	<label><input id="reoccuring" type="checkbox">Recurring Date?</label>
	</div>
	<label>Payment Amount: &nbsp;</label>
    	<input id="amount" type="text" placeholder="$">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="DELETE" action="/bill" style="padding:10px;">
  <fieldset>
    <legend>Delete a Bill</legend>
    <label>Bill ID: &nbsp;</label>
    <input id="bill_id" type="text" placeholder="Bill ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<script>
window.onload = function() {
  document.getElementById("victory").play();
}
</script>

{%- endblock content %}

{% block footer -%}
{% include "footer.html" -%}
{% endblock footer -%}