{% include "header.html" -%}

<!-- Begin our Content -->
{% block content -%}
<div class="container" style="height:535px;	width:475px;text-align:center;">
	<h1>Contact Me</h1>
	<p style="height:50px;"><a href="{{ url_for('resume') }}"> My resume </a> holds my contact info to minimize spam. <br/>Contact me through social media, using the buttons in the footer.</p>

	<p style="height:200px;">Here's a picture of a puppy!
		<img src="/static/images/puppy.jpg" alt="puppy" height="350" width="100%"/>
	</p>
</div>
{%- endblock content %}

{% block footer -%}
{% include "footer.html" -%}
{% endblock footer -%}