<html>
  <footer role="content-info" class="bs-docs-footer" style="text-align:center;padding-top:10px;background-color:rgba(105, 120, 165, 0.65);">
    <div class="footer">
      {% block footer %}
      <div class="container" style="color:#bdbdbd;">
        <a href="https://github.com/daliu/pokemon_payments" class="btn btn-social-icon btn-github" >
          <i class="fa fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/profile/view?id=AAIAAA_lggUBuEfDDPqSJ5c5-VhScYGtp_w2dCo&trk=nav_responsive_tab_profile" class="btn btn-social-icon btn-linkedin">
          <i class="fa fa-linkedin"></i>
        </a>

        <a href="https://plus.google.com/u/0/+DaveLHere/posts" class="btn btn-social-icon btn-google">
          <i class="fa fa-google"></i>
        </a>

        <a href="https://twitter.com/dave_liu_here" class="btn btn-social-icon btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="https://bitbucket.org/humblehacker/" class="btn btn-social-icon btn-bitbucket">
          <i class="fa fa-bitbucket"></i>
        </a>

        <a href="https://instagram.com/humblyhackin/" class="btn btn-social-icon btn-instagram">
          <i class="fa fa-instagram"></i>
        </a>

        <br/>
        Strapped with Flask and powered by Nessie. <br/> <a href="http://daveliu.io/" style="color:#bdbdbd;">Dave Liu</a> &amp; Jason Lin
      </div>

      {% endblock %}
  </footer>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>