<html>
  <footer role="content-info" class="bs-docs-footer" style="text-align:center;padding-top:10px;background-color:rgba(105, 120, 165, 0.65);">
    <div class="footer">
      {% block footer %}
      <div class="container" style="color:#bdbdbd;">
        <a  class="btn btn-social-icon btn-github" >
          <i class="fa fa-github"></i>
        </a>

        <a  class="btn btn-social-icon btn-linkedin">
          <i class="fa fa-linkedin"></i>
        </a>

        <a  class="btn btn-social-icon btn-google">
          <i class="fa fa-google"></i>
        </a>

        <a  class="btn btn-social-icon btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>

        <a  class="btn btn-social-icon btn-bitbucket">
          <i class="fa fa-bitbucket"></i>
        </a>

        <a  class="btn btn-social-icon btn-instagram">
          <i class="fa fa-instagram"></i>
        </a>

        <br/>
        Strapped with Flask and powered by Nessie. <br/> <a  style="color:#bdbdbd;">Dave Liu</a> &amp; Jason Lin
      </div>

      {% endblock %}
  </footer>
</html>