{% include "header.html" -%}

<!-- Begin our Content -->
{% block content -%}
<div class="" style="background-image:url('/static/images/pikachu_nessie.png');background-size:cover;">
	<div class="container" style="height:600px;	width:100%;text-align:center;color:orange;">
		<h1 style="font-size:50px;text-align:left;">Pokemon Payments</h1>
		<h2 style="font-size:30px;text-align:left;">&nbsp; &nbsp; <i>What's in YOUR wallet?</i></h2>
	</div>

{%- endblock content %}

	{% block footer -%}
	{% include "footer.html" -%}
</div>
	{% endblock footer -%}