{% include "header.html" -%}

<!-- Begin our Content -->
{% block content -%}
<form method="get" action="/purchase" style="padding:10px;">
  <fieldset>
    <legend>Get All Purchases</legend>
    <label>Enter Purchase ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="get" action="/purchase" style="padding:10px;">
  <fieldset>
    <legend>Get Purchase By ID</legend>
    <label>Enter Purchase ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="post" action="/purchase" style="padding:10px;">
  <fieldset>
    <legend>Create a Purchase</legend>
    <label>Enter Purchase ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="put" action="/purchase" style="padding:10px;">
  <fieldset>
    <legend>Update an Existing Purchase</legend>
    <label>Enter Purchase ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

<form method="delete" action="/purchase" style="padding:10px;">
  <fieldset>
    <legend>Delete a Purchase</legend>
    <label>Enter Purchase ID: &nbsp;</label>
    <input type="text" placeholder="Enter ID">
    <span class="help-block"></span>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>

{%- endblock content %}

{% block footer -%}
{% include "footer.html" -%}
{% endblock footer -%}